{
	"parser": "babel-eslint",
	"extends": "airbnb",
	"rules": {
		"indent": [2, "tab", {
			"SwitchCase": 1
		}],
		"react/jsx-indent": [2, "tab"],
		"react/jsx-indent-props": [2, "tab"],
		"arrow-body-style": 0,
		"no-param-reassign": 0,
		"no-trailing-spaces": 0
	}
}
